* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
#root {
  height: 100%;
}

main {
  height: 100vh;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.svg-icon {
  margin-right: -1px;
  width: 20px;
  border: 1px solid #000000;
  background-color: #e0dada;
}

input {
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  background-color: #eee;
  outline: none;
  border: 1px solid #39c;
}

.input-wrapper {
  position: relative;
  display: inline-flex;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.emailconfirm {
  width: 25rem;
}

.fondo:hover {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

.setting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.fondo2:hover {
  filter: drop-shadow(3px 3px 0px rgb(169, 112, 112));
}

a {
  text-decoration: none;
  font-weight: bold;
}

.alert {
  font-family: Helvetica, sans-serif;
  font-size: 0.85rem;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}
