/* CSS común para todas las páginas */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Final del CSS común para todas las páginas */
/* CSS Formulario Registro y Login*/

.input-register {
  display: flex;
  margin: 0 25px;
}

.input-reg {
  height: 30px;
  width: 100%;
  background-color: whitesmoke;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
}

.input-reg:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #a8c1e0;
}

@media (max-width: 450px) {
  .input-reg {
    width: 170px;
  }
}

.svg-icon {
  margin-right: -1px;
  width: 25px;
  border: none;
  background-color: #e0dada;
}

.boton-reg {
  background-color: rgb(137, 212, 63);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border: none;
  width: 8rem;
  cursor: pointer;
  color: #fff;
  margin: 1rem;
  transition: 0.3s ease all;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.boton-reg:hover,
.boton-personal:hover {
  transform: scale(1.15);
  cursor: pointer;
}

/* 
 Final CSS del Formulario Registro y Login

*/

/* CSS Formulario de Perfil */

.input-perfil {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 2rem;
}

.input-oculto {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-direction: column;
}

.container-personal {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label-perfil {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 1rem;
}

.input-personal {
  height: 30px;
  width: 100%;
  background-color: whitesmoke;
  padding: 0.5rem;
  font-size: 0.9rem;
  border: none;
}

.input-personal:focus,
.textarea-personal:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #a8c1e0;
}

.textarea-personal {
  width: 100%;
  background-color: whitesmoke;
  padding: 0.5rem;
  resize: none;
  font-size: 0.9rem;
  border: none;
}

.boton-personal {
  background-color: rgb(168, 178, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: none;
  width: 6rem;
  cursor: pointer;
  color: #fff;
  font-size: 0.8rem;
  margin: 0.5rem;
  transition: 0.3s ease all;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

/* Final del CSS de la pagina de perfil */

img.emailconfirm {
  width: 25rem;
}

.fondo:hover {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

.setting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.fondo2:hover {
  filter: drop-shadow(3px 3px 0px rgb(169, 112, 112));
}

a {
  text-decoration: none;
  font-weight: bold;
}

.alert {
  font-family: Helvetica, sans-serif;
  font-size: 0.85rem;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* Recomendación en detalle TripPage */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 320px;
}
#root {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .TripPage {
    height: 100%;
  }

  #detailedPhoto {
    width: 100vw;
    min-width: 320px;
  }

  .vote-container {
    display: flex;
  }

  .summary-container {
    display: flex;
    justify-content: space-between;
  }

  #datasheet {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 3rem;
    margin-left: 3rem;
    border: 1px solid black;
    border-radius: 3rem;
  }

  p#details {
    text-indent: 3rem;
    padding-top: 3rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 1rem;
    text-align: justify;
  }

  .DetailedTrip h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .DetailedTrip #summary {
    font-size: 1rem;
  }

  /*   .NewComment {
  } */

  .CommentsList {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: solid 1px black;
    font-size: 1rem;
    width: 100%;
  }

  .CommentsList ul {
    width: 100%;
    padding: 1rem;
  }

  .CommentsList ul li {
    width: 100%;
  }

  .CommentsList ul li .namedate-container {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .CommentsList ul li * {
    margin-top: 0.4rem;
  }

  /* .CommentsList ul li .namedate-container .c-username {
  } */

  .CommentsList .c-created_at {
    font-size: 0.8rem;
    color: rgb(128, 128, 128);
  }

  .CommentsList #titulo {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .CommentsList .namedate-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  .CommentsList .trashcan-img {
    width: 1.4rem;
  }

  .avatar-photo {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
}

.CommentsList .trashcan {
  border: initial;
  background-color: initial;
  position: absolute;
  top: 25%;
  right: 4%;
}

.CommentsList .Comment {
  position: relative;
}

/* FIN Recomendación en detalle TripPage test*/
