body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
#root {
  height: 100%;
}

.svg-icon {
  margin-right: -1px;
  width: 20px;
  border: 1px solid #000000;
  background-color: #e0dada;
}

.input-wrapper {
  position: relative;
  display: inline-flex;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.emailconfirm {
  width: 25rem;
}
